ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

li {
    font-size: 1.5rem;
    font-weight: bold;
    list-style: none;
    border: 1px solid gray;
    border-radius: 10px;
    height: 450px;
    width: 280px;
    text-align: center;
    background-color: #f7f7f7;
    padding-top: 10px;
    margin: 20px;
}

span {
    height: 100%;
    width: 100%;
    display: flex;
}

span.i-html {
    background: url('https://s3.amazonaws.com/alx-intranet.hbtn.io/uploads/medias/2020/2/d416199ca6ecdbd0f8a3.png?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIARDDGGGOUSBVO6H7D%2F20240216%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20240216T161632Z&X-Amz-Expires=345600&X-Amz-SignedHeaders=host&X-Amz-Signature=b470155a7d8887c07f185aa1882616c4d4549b35cf7b82a6a73f1e9d7d510832') no-repeat 0px 0px;
}

span.i-css {
    background: url('https://s3.amazonaws.com/alx-intranet.hbtn.io/uploads/medias/2020/2/d416199ca6ecdbd0f8a3.png?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIARDDGGGOUSBVO6H7D%2F20240216%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20240216T161632Z&X-Amz-Expires=345600&X-Amz-SignedHeaders=host&X-Amz-Signature=b470155a7d8887c07f185aa1882616c4d4549b35cf7b82a6a73f1e9d7d510832') no-repeat -290px 0px;
}

span.i-js {
    background: url('https://s3.amazonaws.com/alx-intranet.hbtn.io/uploads/medias/2020/2/d416199ca6ecdbd0f8a3.png?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIARDDGGGOUSBVO6H7D%2F20240216%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20240216T161632Z&X-Amz-Expires=345600&X-Amz-SignedHeaders=host&X-Amz-Signature=b470155a7d8887c07f185aa1882616c4d4549b35cf7b82a6a73f1e9d7d510832') no-repeat -580px 0px;
}